@page "/qrgenerator1"
@using QRCoder



<h3>QRGenerator1</h3>

<input type="text" @bind="inputValue" />
<button @onclick="RenderQRCode">Generte QR</button>
<br />
<img src="@qrImage" style="height:150px;width:150px;" />

@code {

    private string qrImage { get; set; }
    private string inputValue { get; set; } = "https://www.microsoft.com";

    //https://github.com/codebude/QRCoder/wiki
    //https://github.com/httphandlers/QRCoder
    private void RenderQRCode()
    {

        using (MemoryStream ms = new MemoryStream())
        {
            QRCodeGenerator qrGenerator = new QRCodeGenerator();
            QRCodeData qrCodeData = qrGenerator.CreateQrCode(inputValue, QRCodeGenerator.ECCLevel.Q);
            BitmapByteQRCode qrCode = new BitmapByteQRCode(qrCodeData);
            byte[] qrCodeImage = qrCode.GetGraphic(20);

            qrImage = "data:image/png;base64," + Convert.ToBase64String(qrCodeImage.ToArray());
        }

    }

}
