@page "/"

<PageTitle>Index</PageTitle>


<h1>Hello, world!</h1>

Welcome to Blazor in Action

<ul>
    <li><a href="/binding">Binding</a></li>
    <li><a href="/datebinding">Date Binding</a></li>
    <li><a href="/localstorage1">Local Storage 1</a></li>
    <li><a href="/card">Components</a></li>
    <li><a href="/cascadingvalue1">Cascading Value</a></li>
    <li><a href="/passparameterparent1">Pass Parameter 1</a></li>
    <li><a href="/qrgenerator1">QR Generator 1</a></li>

</ul>