@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to Blazor in Action

<ul>
    <li><a href="/binding">Binding</a></li>
    <li><a href="/datebinding">Date Binding</a></li>
    <li><a href="/localstorage1">Local Storage 1</a></li>
</ul>