@page "/manifestfile"


<h3>Manifest File</h3>
<p>
    A manifest file (manifest.json) provides information about an app in JSON format. It is usually in the root folder of an application.
</p>

<p>
    PWA Builder was founded by Microsoft as a community guided, open source project to help move PWA adoption forward. 
    <a target="_blank" href="https://www.pwabuilder.com/">www.pwabuilder.com</a>
</p>



@code {

}
