@page "/Snapshot"

<h3>Snapshot</h3>

<div>
    <h4>Camera 📷</h4>
    <input type="file" accept="image/*" capture="user">
</div>


<div>
    <h4>Galery 🖼</h4>
    <input type="file" accept="image/*">
</div>

@*
    HTML attribute: capture
    https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/capture
*@

@code {

}
