@page "/passparameterparent1"

@inject NavigationManager NavigationManager


<h3>Pass Parameter - Parent 1</h3>


<button @onclick="() => NavigateToChild1(10)">Pass Parameter - Child 1</button>

@code {



    void NavigateToChild1(int param)
    {
        NavigationManager.NavigateTo($"/passparameterchild1/{param}");
    }

   /* void NavigateToChild2(int param)
    {
        NavigationManager.NavigateTo($"/passparameterchild2/{param}");
    }*/


}

