@page "/passparameterchild1/{passValue}"
@inject NavigationManager navigationManager


<h3>Pass Parameter - Child 1</h3>

@passValue.ToString()
<br />
<button @onclick="() => NavigateToSubChild1(int.Parse(passValue))">Pass Parameter - Sub Child 1</button>


@code {

    [Parameter]
    public string passValue { get; set; }


    void NavigateToSubChild1(int param)
    {
        navigationManager.NavigateTo($"/passparametersubchild1/{param}");
    }
}
